@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  animation-duration: 0.4s;
  animation-name: fadeInDown;
  animation-timing-function: ease-out;
  z-index: 999;

  box-shadow: -1px 0px 8px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 8px -1px rgba(0, 0, 0, 0.75);
}